.logo {
	height: $height-header;
}

.logo .logo__item {

}

.logo .logo__item--c {
	fill: #0000FF;
}

.logo .logo__item--o-left {
	fill: #0033FF;
}

.logo .logo__item--o-right {
	fill: #0066FF;
}

.logo .logo__item--a-left {
	fill: #0099FF;
}

.logo .logo__item--a-right {
	fill: #00CCFF;
}

.logo .logo__item--d {
	fill: #00FFFF;
}

.logo .logo__item--y-left {
	fill: #00FFCC;
}

.logo .logo__item--y-right {
	fill: #00FF99;
}

