.project__item {
	@include column(3);
	position: relative;
	height: 150px;
	margin-bottom: $spacing-vertical;
	overflow: hidden;

	background: rgba(#FFF, 0.2);
}

.project__item .image {

	position: relative;
	width: 100%;
	height: 100%;
}

.project__item .image img {
	position: absolute;
	width: auto;
	height: auto;
}