/* Colours */

$color-blue: 			#0066FF;
$color-blue-dark: 		#0000FF;
$color-teal: 			#00FFFF;

$color-green: 			#00FF99;
$color-green-pale:		#00FFCC;

/* Fonts */

$font-default: 			"ff-dagny-web-pro", Arial, sans-serif;

/* Dimensions */

$spacing-vertical:		20px;
$height-header:			60px;